<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="WebHook" type="WebHook.Engine.Configuration.Config.WebHookConfigSection, WebHook.Engine.Configuration" />
  </configSections>
  <WebHook>
    <modules>
      <add name="Module::GetRequest" type="WebHook.Module.Module.GetRequest, WebHook.Module.GetRequest" />
    </modules>
  </WebHook>
  <appSettings>
    <!--Rabbit MQ Credentials-->
    <add key="Rabbit::Exchange" value="WebHookExchange" />
    <add key="Rabbit::Host" value="localhost" />
    <add key="Rabbit::User" value="guest" />
    <add key="Rabbit::Pwd" value="guest" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>